nav .nav-links{
  display: flex;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 1024px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0px 0px 10px 10px;
  backdrop-filter: blur(20px);
  position: fixed;
  align-items: center;
  top: 24px;
  z-index: 300;
  padding: 20px 32px;

}

nav ul {
  list-style: none;
  display: flex;
  gap:50px;
  padding: 0;
}

nav a{
  color: white;
  font-size: 16px;
  font-weight: 800;
}
